button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.slider {
	text-align: center;
}

.slide-block {
    padding: 25px;
    background: #fff;
    border-radius: 5px;
	color: #2196f3;
}

.adv-text {
	font-size: 18pt;
	margin-top: 15px;
}

.owl-nav .owl-prev {
  position: absolute;
  left: 0px;
  top: -25px;
  transition: all 0.2s;
}

.owl-dot {
    width: 20px!important;
    height: 20px!important;
    background: RGBA(0,0,0,0.67)!important;
	margin: 3px;
}

#os_progres_img-5, #os_progres_img-7 {
	display: none!important;
}

.works, .part {
	text-align: center;
}


.os-gallery-tabs-main-7 .os_fancybox-7 img {
	height: 70px!important;
}

.part .owl-dots {
	top: -20px;
}

.owl-dot.active {
	background: #f3e721!important;
}

.slider-tarifs .owl-dots {
	position: relative;
	height: 0px;
	text-align: center;
	top: 0px;
}


.owl-dots {
	position: relative;
	top: -40px;
	height: 0px;
}

.wrks .owl-dots {
	top: 20px!important;
}

.wrks {
    margin-bottom: 40px!important;
	margin-top: 15px!important;
}

.owl-nav .owl-next {
  position: absolute;
  right: 0px;
  top: -25px;
  transition: all 0.2s;
}

.owl-nav {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 50%;
  z-index: 999;
}

.slide {
	height: 400px;
	color: #fff;
	text-align: center;
}

.slide0 {
	background: url("") 50% 50% no-repeat;
}

.slide1 {
	background: url("s1.jpg") 50% 50% no-repeat;
}

.slide11 {
	background: url("s11.jpg") 50% 50% no-repeat;
}

.slide1 span {
	font-size: 28pt;
}

.slide1 .slide-content {
	font-size: 24pt;
}

.slide2 span {
	font-size: 26pt;
}

.slide2 .slide-content {
	font-size: 20pt;
}

.slide2 {
	background: url("s2.jpg") 50% 50% no-repeat;
}

.slide3 {
	background: url("s3.jpg") 50% 50% no-repeat;
}

.slide4 {
	background: url("s4.jpg") 50% 50% no-repeat;
}

.owl-prev:hover {
	background: #f2d600 url("left.png") 50% 50% no-repeat!important;
}

.owl-next:hover {
	background: #f2d600 url("right.png") 50% 50% no-repeat!important;
}

.owl-prev {
	background: RGBA(0,0,0,0.67) url("left.png") 50% 50% no-repeat!important;
	padding: 30px!important;
	border-radius: 5px!important;
	background-size: 18px 29px;
}

.owl-next {
	background: RGBA(0,0,0,0.67) url("right.png") 50% 50% no-repeat!important;
	padding: 30px!important;
	border-radius: 5px!important;
	background-size: 18px 29px;
}

.slide-content {
	display: inline-block;
	max-width: 700px;
	font-size: 28pt;
	font-family: Play;
}

.slide-cell {
	display: table-cell;
	vertical-align: middle;
	height: 400px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;		
}

@media only screen and (max-width: 800px) {
	
	.slide-content {
		padding: 0px 35px;
	}

	.slide-content {
		font-size: 24pt;
		padding: 0px 35px;
	}
	
	.slide1 span {
		font-size: 24pt;
	}
	
	.slide3 span {
		font-size: 24pt;
	}

	.slide4 span {
		font-size: 24pt;
	}	

	.slide1 .slide-content {
		font-size: 20pt;
	}
	
	.slide3 .slide-content {
		font-size: 22pt;
	}

	.slide4 .slide-content {
		font-size: 22pt;
	}	

	.slide2 span {
		font-size: 22pt;
	}

	.slide2 .slide-content {
		font-size: 16pt;
	}
	

	.owl-prev {
		background: RGBA(0,0,0,0.67) url("left.png") 50% 50% no-repeat!important;
		padding: 24px!important;
		border-radius: 5px!important;
		background-size: 13px 21px;
	}

	.owl-next {
		background: RGBA(0,0,0,0.67) url("right.png") 50% 50% no-repeat!important;
		padding: 24px!important;
		border-radius: 5px!important;
		background-size: 13px 21px;
	}	
	
}

@media only screen and (max-width: 500px) {

	.slide-content {
		font-size: 20pt;
		padding: 0px 35px;
	}
	
	.slide1 span {
		font-size: 20pt;
	}
	
	.slide3 span {
		font-size: 20pt;
	}

	.slide4 span {
		font-size: 20pt;
	}	

	.slide1 .slide-content {
		font-size: 16pt;
	}
	
	.slide3 .slide-content {
		font-size: 18pt;
	}

	.slide4 .slide-content {
		font-size: 18pt;
	}	

	.slide2 span {
		font-size: 18pt;
	}

	.slide2 .slide-content {
		font-size: 12pt;
	}
	

	.owl-prev {
		background: RGBA(0,0,0,0.67) url("left.png") 50% 50% no-repeat!important;
		padding: 24px!important;
		border-radius: 5px!important;
		background-size: 13px 21px;
	}

	.owl-next {
		background: RGBA(0,0,0,0.67) url("right.png") 50% 50% no-repeat!important;
		padding: 24px!important;
		border-radius: 5px!important;
		background-size: 13px 21px;
	}	
	
}